#resultados {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  max-width: 1350px;
}

#resultados div {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resultsSearch {
  color: #4285f4;
  text-decoration: none;
  font-size: 1.5em;
}

.descriptionResult {
  font-size: 1em;
  margin-top: 10px;
}
